@font-face {
  font-family: "Cutive-Mono";
  src: url('./fonts/CutiveMono-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary: #7A403E;
  --secondary: #F89700;
  --accent: #9F2B00;
  --background: #D8CD9D;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  display: grid;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
}

#menu {
  border: none;
  background: none;
  cursor: pointer;
}

#menu svg {
  fill: var(--secondary);
}

#menu svg:hover {
  fill: #008da5;
}

h1 {
  font-family: "Cutive-Mono", monospace;
  font-weight: 600;
  margin-left: 1vw;
}

header {
  display: flex;
  /* margin-left: 1vw; */
  border-bottom: 1px solid var(--accent);
  color: var(--secondary);
  background-color: var(--primary);
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.lists-container {
  border-right: 2px solid var(--primary);
}

.lists-container, #lists {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

.list-button {
  background-color: var(--accent);
  border: none;
  color: var(--secondary);
  height: fit-content;
  font-size: 2vh;
  font-family: "Cutive-Mono", monospace;
  border-radius: 2vh;
  padding: .5vh;
  margin: 1vh;
}

#add-list-button {
  background: none;
  border: none;
  color: var(--accent);
  font-size: 2.5vh;
  font-family: "Cutive-Mono", monospace;
  margin-top: 1vh;
}

#add-list-button:hover {
  color: var(--secondary);
}

#add-task-button {
  visibility: hidden;
  border: none;
  background: none;
  color: var(--accent);
  font-size: 2.5vh;
  font-family: "Cutive-Mono", monospace;
  margin-top: 1vh;
  margin-left: 1rem;
  margin-bottom: 3vh;
}

#add-task-button:hover {
  color: var(--secondary);
}

.task {
  font-family: "Cutive-Mono", monospace;
  background-color: var(--secondary);
  color: var(--accent);
  justify-content: space-between;
  align-items: center;
  padding: .25rem 2rem;
  margin: .5rem;
  border: var(--accent) 1px solid;
  border-radius: 1rem;
}

.task button {
  background-color: var(--accent);
  border: var(--accent) 1px solid;
  color: var(--secondary);
  font-size: 1.5vh;
  font-family: "Cutive-Mono", monospace;
  border-radius: 1rem;
  padding: .25rem 1rem;
}

.completed-task {
  font-family: "Cutive-Mono", monospace;
  background-color: var(--primary);
  color: var(--secondary);
  justify-content: space-between;
  align-items: center;
  padding: .25rem 2rem;
  margin: .5rem;
  border: var(--accent) 1px solid;
  border-radius: 1rem;
}

.completed-task button {
  background-color: var(--accent);
  border: var(--accent) 1px solid;
  color: var(--secondary);
  font-size: 1.5vh;
  font-family: "Cutive-Mono", monospace;
  border-radius: 1rem;
  padding: .25rem 1rem;
  border: var(--secondary) 1px solid;
}

th {
  font-family: "Cutive-Mono", monospace;
  color: var(--accent);
  justify-content: baseline;
  padding: .25rem 2rem;
  margin: .5rem;
}


td:nth-child(-n+3) {
  text-align: center;
}


table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin: -20px 20px 40px 20px;
  width: calc(100% - 40px);
}

td {
  border: solid 2px var(--accent);
  border-style: none;
  padding: 10px;
  text-align: center;
}

td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

h2 {
  color: var(--accent);
  font-size: 2.5vh;
  font-family: "Cutive-Mono", monospace;
  margin-left: 1rem;
  margin-bottom: 3vh;
  font-weight: 100;
}