@font-face {
  font-family: "Cutive-Mono";
  src: url('./fonts/CutiveMono-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary: #7A403E;
  --secondary: #F89700;
  --accent: #9F2B00;
  --background: #D8CD9D;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  display: grid;
  grid-template-rows: 1fr 7fr;
  height: 100vh;
}

#menu {
  border: none;
  background: none;
  cursor: pointer;
}

#menu svg {
  fill: var(--secondary);
}

#menu svg:hover {
  fill: #008da5;
}

h1 {
  font-family: "Cutive-Mono", monospace;
  font-weight: 600;
  margin-left: 1vw;
}

header {
  display: flex;
  /* margin-left: 1vw; */
  border-bottom: 1px solid var(--accent);
  color: var(--secondary);
  background-color: var(--primary);
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.lists-container {
  border-right: 2px solid var(--primary);
}

.lists-container, #lists {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

.list-button {
  background-color: var(--accent);
  border: none;
  color: var(--secondary);
  height: fit-content;
  font-size: 2vh;
  font-family: "Cutive-Mono", monospace;
  border-radius: 2vh;
  padding: .5vh;
  margin: 1vh;
}

#add-list-button {
  background: none;
  border: none;
  color: var(--accent);
  font-size: 2.5vh;
  font-family: "Cutive-Mono", monospace;
  margin-top: 1vh;
}