@font-face {
  font-family: "Cutive-Mono";
  src: url('./fonts/CutiveMono-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary: #7A403E;
  --secondary: #F89700;
  --accent: #9F2B00;
  --background: #D8CD9D;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

#menu {
  border: none;
  background: none;
  cursor: pointer;
}

#menu svg {
  fill: var(--secondary);
}

#menu svg:hover {
  fill: #008da5;
}

h1 {
  font-family: "Cutive-Mono", monospace;
  font-weight: 600;
  margin-left: 1vw;
}

header {
  display: flex;
  /* margin-left: 1vw; */
  border-bottom: 1px solid var(--accent);
  color: var(--secondary);
  background-color: var(--primary);
}